html, body{
    padding: 0; 
    width: 80%; 
    margin: 5rem auto;  
    background-color: #eee; 
    font-family: 'Courier New', 'Courier', 'monospace';
    letter-spacing: 2px; 
    font-size: 1rem; 
    
   
   

}
body{
    border-right: 4px groove black; 
    box-shadow: 20px 25px 65px 19px rgba(182, 74, 224, 0.5), -30px 15px 65px 3px rgba(182, 74, 225, 0.5);
    
}
.announcement{
   margin: 10px 0px 10px 10px; 
}
.unsplash-creds{
    background-color: rgba(100, 10, 110, 0.51); 
    box-sizing: border-box; 
    width: 100%; 
    height: 40vh; 
    padding: 1.5rem 2rem; 
    color: #000; 


}
.creds > img{
    max-width: 100%; 
    border-radius: 20px; 
}
ol{
    font-size: 1.5rem; 
    background-color: rgba(109, 19, 10, 0.51); 
    list-style-type: none;
    margin: 5px; 
    padding: 10px 10px 10px 1px ; 
    
}
li{
    border-bottom: 1px solid black; 
}
li:last-child{
    border-bottom: none; 
}
.grid-wrapper:nth-child(odd){
    background-color: gray; 
    border: 2px inset orange; 
}
/* rough styling for phones and smaller devices media query (600px) , approx sizes, (678, 594, 578, 483) */


@media(max-width: 600px){
    body,html{
        margin: 10px auto; 
    }
    body{
        width: 89%; 
        font-weight: bolder; 
          
        overflow-x: hidden; 
        border-right: 2px solid aqua; 
       
    }
    .creds{
        margin: 14px; 
    }
    img{
        overflow-x: hidden; 
        max-width: 99%; 
        max-height: 100%; 
    }
}