@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Yellowtail');

body{
    
    font-family: 'Roboto Slab', serif;
    height: auto; 

    background-color: #FFF; 
    color: #000;
}

h1.greeter{
    font-family: 'Roboto Slab', serif;
    font-weight: 400; 
    font-size: 2.5rem; 
    text-transform: uppercase; 
    color: #000
}
/* Using inheritance for other Hn styles */

h2{
    font-family: 'Yellowtail', cursive;
    font-weight: 400; 
    font-size: 1.4rem;
    letter-spacing: 4px;  
    line-height: 2.1;
    text-transform: capitalize; 
    margin: 0 ; 
}
img{
    display: block; 
    width: 100%; 
    
}
.logo-img{
    width: 100%; 
    margin: auto 0; 
}
#navbar{
    overflow: hidden; 
    background-color: #000; 
}
#navbar a{
    float: right; 
    padding: 12px 15px; 
    text-decoration: none; 
    color: rgb(14, 135, 206); 
}
main{

    /* main container, many styles removed for flat UI */


    max-width: 800px; 
    margin: auto; 
    /* REMOVED STYLE 
    borders removed for flat UI  */
/* 
    border-left:  2px rgba(68, 90, 177, 1)  double ; 
    border-right: 2px rgba(0, 0, 100, 1) double;  */

    /* REMOVED STYLE  */


/* removed padding on main element , and other things making it ugly.  */
    /* padding-left: 10px; 
    padding-right: 0; 
    padding-bottom: 0px;  */
     
    /* KP: box-shadows, how to make them look pretty:  , 2: box-shadows: material design
     box-shadow: 10px 0px 17px rgba(255, 255, 255, 0.692), -10px 0px 20px rgba(255, 255, 255, 0.649); */

     /* REMOVED STYLE */
}
#landing{
    background-color: #eee; 
}
#landing-text{
    display: flex; 
    /* using "showcase" method */
    /* one half of landing viewport w/ 40vh */

    flex: 0 1 40vw; 
    height: 50vh; 
    /* align to center */
    justify-content: center;
    align-items: center ; 
    text-align: center; 
    padding-right: 10px; 
    padding-left: 10px; 
}
#landing-text h2{
    color: #333 ; 
}
#landing-image{
    background: url("../img/diana-parkhouse-1155348-unsplash.jpg"); 

    /* other half of landing viewport with 50vh adding up to 100vh and extra space on sides */
    height: 50vh; 
    background-position: center ; 
    background-size: cover ; 
    background-repeat: no-repeat; 

    /* default for flex-grow(using shorthand) is 0 1 40vw on landing text 60vw on landing image  */

    flex: 0 1 60vw; 
    margin: 0; 
    
}
.btn-ref{
    padding: 0.5rem 2rem; 
    border: 1px solid rgb(190, 146, 146) ; 
    display: inline-block; 
    margin: 2rem 0 0; 
    border-radius: 20px ;
    text-decoration: none ; 
    color: rgb(2, 1, 1) ; 
    transition: background-color 0.5s ease-in; 
}
.btn-ref:hover{
    background-color: #0538ee; 
    color: rgb(0, 0, 1); 
    font-weight: bolder ; 
}



.topnav{
    font-family: 'Roboto', 'Lato', 'sans-serif'; 
    margin-bottom: 0.5rem ; 
    background-color: rgba(0, 7, 10, 1); 
 
    border-radius: 25px; 
    overflow: hidden; 
    
}
.topnav a#logo{
    max-height: 90px; 
    border-right: 1px solid black; 
    color: white ; 
    float: left ; 
    border-radius: 0px; 
    padding: 10px; 
    
}
.topnav a{
    float: right ; 
    padding: 15px 17px; 
    text-align: center ; 
    text-decoration: none; 
    color: rgb(12, 175, 245);
   

}


#header{
    padding: 1.5rem ; 
    text-align: center; 
    background-color: #333 ; 
    color: #fff; 
}
#header > h2{
    display: inline-block; 
    border-left: 2px inset #fff ; 
    border-right: 2px inset #fff; 
    padding-right: 1rem; 
    padding-left: 1rem; 

}
.img-caption{
    background-color: #444; 
    padding: 1rem; 
    text-align: center; 
}
.img-caption:hover{
    background-color: rgba(95, 219, 219, 0.616);
}
#pg-footer{
     text-align: center ;
     padding: 2rem 2rem; 
     margin: auto; 
     background-color: rgba(213, 213, 235, 0.54);
     color: #000; 

}
#pg-footer{
    font-size: 20px ; 
    margin-bottom: 0; 
}


.coming-soon-msg{
    display: block; 
    line-height: 2.1;
    max-width: 900px; 
    width: 80%; 
    margin: auto; 
}
.coming-soon-msg:hover{
    background-color: rgba(95, 219, 219, 0.616);
    border: 1px groove rgb(17, 94, 158);
}
/* Media Queries sizes 500px and greater */

/* using something i've refferred to as the "showcase method" for 100vh designs for mobile (similar to my profile rough draft @ trilogy */
@media(min-width: 500px){
    #landing{
        display: flex; 
        height: 100%; 

    }
    #landing-text{
        height: 100vh; 
    }
    #landing-image{
        height: 100vh; 
    }
}

/* For Tablets and larger phones 700px and up */
@media(min-width: 700px){
    .btn-ref{
        padding: 1rem 3rem; 
    }
}